@model Product // strong type

<h1> Thông tin của SV MD </h1>
<p>Id: @Model.Id</p>
<p>Tên: @Model.Name</p>
<p>Mô tả: @Model.Description</p>
<p>Nhà tài phiệt: @Model.Supplier</p>
<p>Giá: @Model.Price</p>
<p>Số lần học lại: @Model.AvailableQuantity</p>
<p>Status: @Model.Status</p>
